body{
	padding-top:70px;
}

/***** Typography *****/

p{
	text-align:justify;
	margin-bottom:20px
}

.meta{
}

footer{
	text-align:center;
}

.glyphicon{
	margin:0 5px;
}

/***** Posts *****/
.user.btn{
	width:100px;
}

/***** Users *****/
	
.avatar{
	height:50px;
	width:50px;
	float:left;
	margin:5px;
}

/***** Layout *****/

.box{
	border:1px solid #ddd;
	margin:10px;
}

hr{
	margin-top:10px;
}

#login_form, .alert{
	margin:auto;
	max-width:550px;
}

.logo{
	margin-right:20px;
}

#pitch.container{
	max-width:750px;
	}