body{
	padding-top:70px;
}

.clear{
	clear:both;
}

.center{
	text-align:center;
}

/***** Typography *****/
h1{
	margin-bottom:20px;
}

p{
	text-align:justify;
}

.meta{
}

footer{
	text-align:center;
	position:absolute;
	bottom:20px;
	width:100%;
}

.glyphicon{
	margin:0 5px;
}

.glyphicon-remove-circle{
	color:#333;
}

/***** Posts *****/
.user.btn{
	width:100px;
}

/***** Users *****/
	
.avatar{
	height:50px;
	width:50px;
	float:left;
	margin:5px 15px 5px 0;
}

/***** Objects *****/
form{
	margin: 20px 0;
}

.box{
	border:1px solid #ddd;
	margin:10px;
}

.bs-callout {
	margin: 10px 0 10px 0px;
	padding: 15px 30px;
	border-left: 3px solid #eee;
	max-width:546px;
}

.bs-callout-danger{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.bs-callout-info {
	background-color: #f4f8fa;
	border-color: #bce8f1;
}

hr{
	clear:both;
	margin-top:10px;
}

#login_form, .alert{
	margin:auto;
	max-width:550px;
}

.logo{
	margin-right:20px;
}

#pitch.container{
	max-width:750px;
	}

